.donate-pay{
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 50px;
    margin-top: 100px;
}
.donate-pay-left{
    width: 100%;
    max-width: max(30% ,500px);
}
.donate-pay-left .title{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 50px;
}
.donate-pay-left input{
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    border: 1px solid #c5c5c5;
    border-radius: 4px;
    outline-color: tomato;
}
.donate-pay-left .multi-fields{
    display: flex;
    gap: 10px ;
}
.donate-pay-right{
    width: 100%;
    max-width: max(40%,500px);

}
.donate-pay-right button{
    border: none;
    color: white;
    font-size: 15px;
    background-color: tomato;
    width: max(20vw 200px);
    padding: 12px 0px ;
    cursor: pointer;
    border-radius: 4px ;
    padding: 10px;
}
.donate-total .cart-total button{
    margin-top: 30px;
    cursor: pointer;
}
.donate-pay-amt {
    display: flex;
    gap: 10px ;
    padding: 10px;
    border-radius: 4px;
    
}
.donateimg{
    height: 26vw;
    margin: 34px auto;
    padding-top: 20px;
    background: url('/doggy_bg.webp') no-repeat;
    background-size: contain;
    position: relative;

}